<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="PrzemekKuba:)" />
        <title>AfroLoki Białystok</title>
        <!-- Favicon-->
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{{url_for('static', filename='css/css.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="{{url_for('static', filename='css/background.css')}}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style>
        
            section {
               
                min-height: 100vh;
            }
    span, a, a:hover {
        display: inline-block;
        text-decoration: none;
        color: inherit;
    }
    
    .blog img{
        max-width: 100%;
    }
    .blog-head {
      margin-bottom: 70px;
    }
    
    .blog-head h6{
      color: #f05907;
      position: relative;
      display: inline-block;
      text-transform: capitalize;
    }
    
    .blog-head h6:after, .blog-head h6:before{
      position: absolute;
      content: "";
      width: 50px;
      height: 3px;
      background: #f05907;
      top: 50%;
    }
    
    .blog-head h6:after{
      right: 120%;
    }
    
    .blog-head h6:before{
      left: 120%;
    }
    
    
    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(25, 25, 25, 0.8);
        overflow: hidden;
        width: 100%;
        height: 100%;
        transition: .5s ease;
    }
    
    .item {
        position: relative;
        overflow: hidden;
        margin: 20px 0;
    }
    
    .item:hover .overlay {
      bottom: 0;
      height: 100%;
      width: 100%;
    }
    
    .top-overlay {
        bottom: 100%;    
        height: 0;
    }
    .item:hover .top-overlay {
      bottom: 0;
    }
    .bottom-overlay {
        top: 100%;
    }
    
    .item:hover .bottom-overlay {
      top: 0;
    }
    
    .right-overlay {
        left: 100%;
        height: 100%;
    }
    
    .item:hover .right-overlay {
      left : 0;
    }
    
    .left-overlay {
        right: 100%;
        height: 100%;
        left:auto;
    }
    
    .item:hover .left-overlay {
      right : 0;
    }
    .fade-overlay {
        height: 100%;
        opacity: 0;
    }
    
    .item:hover .fade-overlay {
      opacity: 1;
    }
    .title-overlay {
        height: auto;
        top: auto;
        opacity: 0;
    }
    .item:hover .title-overlay {
        opacity: 1;
        height: auto;
       
    }
    .text {
        color: white;
        font-size: 2.5vh;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }



    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
        }
        .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
        }



        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
        .text-glowna {
           
            font-family: 'Montserrat', sans-serif;
            font-size: 2.5vh;
        }
        .text-naglowek{
            color:#01e0d5;
            font-size: 3vh;
        }
        .text-hr{
            border: 0;
            height: 0;
            border-top: 3px solid #01e0d5;
            border-bottom: 2px solid #017a74;
            width:50%;
            margin:auto;
            }
        .text-navbar-name{
            font-family: 'Brush Script MT', cursive;
            color:#01e0d5;
            font-size: 10vh !important; 
        }
      
        .text-table{
            font-family:"Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 2vh;
        }
        .text-table-head{
            font-family:"Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 3vh;
        }
      
        </style>

    </head>
    <body id="strona_glowna"  class="background">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#strona_glowna">AfroLoki</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#onas">O nas</a></li>
                        <li class="nav-item"><a class="nav-link" href="#cennik">Cennik</a></li>
                        <li class="nav-item"><a class="nav-link" href="#kontakt">Kontakt</a></li>
                        <li class="nav-item"><a class="nav-link" href="#galeria">Galeria</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <p class="text-navbar-name">AfroLoki</p>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Zakręć się z nami!</p>
                        <a class="btn btn-primary btn-xl" href="#onas">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
        </header>
        

  
    <div> 
        <div class="container" id="onas">
            <!-- O mnie -->
            <div class="row m-5">
                <div class="col-sm-6 mt-2 col-12 text-center p-5">
                    <img class="img-fluid" src="{{url_for('static', filename='zdjecie_1.png')}}"></img>
                </div>
                <div class="col-sm-6 mt-2 col-12 text-glowna text-center" >
                    
                   <p style="font-size:2.5vh;"> <span class="text-naglowek">Afro loki</span> to syntetyczne włosy, które wyglądają jak naturalne.</p>
                    
                   <p style="font-size:2vh;">
                    Gwarantują piękną i niespodziewaną metamorfozę, obok której nikt nie przejdzie obojętnie.
                    Nie da się ukryć, afro loki dają efekt spektakularny, szczególnie gdy  jest ich bardzo dużo i są one gęste i długie. 
                    To fryzura, którą można nosić około 10 tygodni. 
                    Po zdjęciu afro loków możemy wrócić do naszych naturalnych włosów lub też założyć zupełnie nowe afro loki, które dostępne są w wielu różnych kolorach i długościach.
                    Możesz mieć loczki gęste i drobne jak sprężynki, loki o mniejszym skręcie, a nawet fale.
                    Krótkie, długie, związane, rozpuszczone – afro loki to fryzura pełna objętości i szaleństwa. 
                    </p>
                    <hr class="text-hr my-4">
                    
                    <p style="font-size:2.5vh;"> <span class="text-naglowek">Afro loki</span> to włosy syntetyczne doczepiane do włosów naturalnych.</p>
                    <p style="font-size:2vh;">
                    Pasemka afro loków aplikowane są metodą wplatania we włosy naturalne w taki sposób, by te mogły oddychać i rosnąć.
                    Niezwykle istotne jest to, że przy zakładaniu afro loków nie używamy wysokich temperatur, żadnej keratyny, ringów, klejów, ani żadnych innych preparatów chemicznych mogących mieć negatywny wpływ na włosy naturalne.
                    Przeciwwskazaniem do aplikacji afroloków są choroby skóry głowy; łupież, grzybica, czy nadmierne wypadanie włosów.
                    </p>
                </div>
            </div>
        </div>



         
        


       
        <div class="parallax2" style="height:10vh;"></div>




        <!-- O firmie -->
        <div class="container" >
            <div class="row">
                
                <div class="col-sm-6 my-5 col-12 text-center text-glowna">
                    <p style="font-size:2.5vh;">
                    <span class="text-naglowek">Keratyna</span> jest podstawowym budulcem skóry, paznokci i włosów. 
                    </p>
                    <p style="font-size:2vh;">
                    Włókna połączone są ze sobą poprzecznymi wiązaniami sierczkowymi, dzięki czemu włosy są bardziej elastyczne i sprężyste. 
                    Keratyna wchodzi również w skład zewnętrznej osłonki włosa, gdzie jest odpowiedzialna za połysk i blask włosów. 
                    Jej brak doprowadza m.in. do otwierania się łusek włosa i rozdwajania końcówek. 
                    </p>
                    
                    

                    
                   
                </div>

               

                <div class="col-sm-6 mt-5 col-12">
                    <img class="img-fluid" src="{{url_for('static', filename='zdjecie_2.png')}}"></img>
                </div>
                
                <div class="col-sm-6 my-5 col-12">
                    
                    <img class="img-fluid" src="{{url_for('static', filename='certyfikat.png')}}"></img>
                </div>
                <div class="col-sm-6 my-5 col-12 text-center text-glowna">
                    <p style="font-size:2.5vh;">
                        <span class="text-naglowek">Keratyna</span> chroni włosy przed szkodliwym działaniem środków utleniających, farb i środków do trwałych ondulacji.
                    </p>
                    <p style="font-size:2vh;">
                    Chroni również włosy przed wysuszającym działaniem innych środków myjących zawartych w szamponach. 
                    Zapobiega negatywnemu wpływowi promieni UV i wiatru.
                    </p>
                    
                    <hr class="text-hr my-4">

                    <p style="font-size:2.5vh;">
                    <span class="text-naglowek">Amazon keratin </span> 
                    to zabieg keratynowy, którego celem jest odbudowa struktury włosów, ich intensywne odżywianie i wygładzenie. 
                    
                    <p style="font-size:2vh;">
                    Preparaty keratynowe używane podczas zabiegu, zawierają nie tylko kreatynę, która regeneruje uszkodzone włosy, lecz także antyoksydanty, wyciągi z roślin i witaminy, które trwale nawilżają włosy i dostarczają niezbędnych składników odżywczych oraz kwasy tłuszczowe, które tworzą na włosach niewidoczna barierę ochronną przed szkodliwymi czynnikami zewnętrznymi.
                    </p>
                    
                    <hr class="text-hr my-4">
                    
                    <p style="font-size:2.5vh;">
                    <span class="text-naglowek">Zabieg keratynowy </span> 
                    został opracowany w Brazylii z myślą o kobietach, które cieszą się gęstymi, lecz puszacymi, kręconymi i zniszczonymi słońcem włosami. 
                    </p>
                    <p style="font-size:2vh;">
                    Zabieg ten miał przede wszystkim pomóc w codziennej pielęgnacji włosów, w wyprostowaniu niesfornych loków oraz chronić włosy przed wilgocią i działaniem słońca.
                    </p>
                </div>
            </div>
        </div>
     



        

        <!-- Cennik -->
        <div class="my-5" id="cennik">
            <div class="row m-0">
                <div class="col-12 text-center">
                    <h1>Poznaj nasze usługi</h1>

                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-sm-8 col-12 p-4 table-responsive">


                            <table class="table table-hover text-table" >
                                <thead class="text-table-head">
                                    <th class="p-4"  scope="col text-center" style="width:20%">
                                        Nazwa usługi
                                    </th>
                                    <th class="p-4"  scope="col" style="width:60%">
                                        Opis
                                       
                                    </th>
                                    <th class="p-4"  scope="col text-center" style="width:20%">
                                        Cena
                                    </th>
                                </thead>
                                <tbody class="text-table">
                                {% for usluga in lista %}
        
                                {% if loop.index % 2 == 0 %}
                                    <tr scope="row"  style="background-color:#edffff">
                                        <td class="p-4" >
                                            {{usluga[2]}}
                                        </td>
                                        <td class="p-4" >
                                            {{usluga[3]}}
                                        </td>
                                        {% if usluga[4] == "TAK" %}
                                        <td class="p-4" >
                                            {{usluga[1]}}*
                                        </td>
                                        {% else %}
                                        <td>
                                            {{usluga[1]}}
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% else %}
        
                                    <tr scope="row" style="background-color:#defafa">
                                        <td class="p-4" >
                                            {{usluga[2]}}
                                        </td>
                                        <td class="p-4" >
                                            {{usluga[3]}}
                                        </td>
                                        {% if usluga[4] == "TAK" %}
                                        <td class="p-4" >
                                            {{usluga[1]}}*
                                        </td>
                                        {% else %}
                                        <td class="p-4" >
                                            {{usluga[1]}}
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                    
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td >
                                            
                                        <td class="text-center">
                                            <small> * - Cena uzależniona od długości włosów </small>
        
                                        </td>
                                        <td >
                                        </td>
                                    </tr>
                                    
                                </tfoot>
                            </table>
        
        


                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>


      
            </div>
        </div>


        <div class="parallax mb-5" style="height:10vh;"></div>
         <!-- Kontakt -->
        <div class="container  mt-5" id="kontakt" style="height:90vh;">

            <div class="container">
                <div class="row">
                    <div class="col-12 mb-5 text-center">
                        <h1>Jak do nas dotrzeć?</h1>

                    </div>
                    <div class="col-12">
                        <div class="row">

                            <div class="col-sm-1 col-12 text-center"></div>
                            <div class="col-sm-3 col-6 text-center">

                                
                               

                                <div class="row text-center">
                                    <div class="col-12">
                                        <i style="color:#01e0d5;" class="fa-solid fa-2x fa-location-dot my-3 fa-bounce" style="--fa-animation-delay:4s; --fa-bounce-start-scale-x: 1; --fa-bounce-start-scale-y: 1; --fa-bounce-jump-scale-x: 1; --fa-bounce-jump-scale-y: 1; --fa-bounce-land-scale-x: 1; --fa-bounce-land-scale-y: 1; --fa-bounce-rebound: 0;" ></i>
                                    </div>
                                    <div class="col-12">
                                        Wiejska 12, Wasilków
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-2 col-6 text-center">
                                
                                
                                

                                <div class="row text-center">
                                    <div class="col-12">
                                        <i style="color:#01e0d5;" class="fa-solid fa-2x fa-envelope my-3" ></i>
                                    </div>
                                    <div class="col-12">
                                        <a href="mailto:afroloki@afrolki.pl">izabela1232@wp.pl</a>
                                    </div>
                                </div>

                            </div>

                            

                            <div class="col-sm-3 col-6 text-center">
                                <div class="row text-center">
                                    <div class="col-12">
                                        <i style="color:#01e0d5;" class="fa-solid fa-2x fa-clock my-3"></i>
                                    </div>
                                    
                                    <div class="col-12">Poniedziałek - Piątek</div>
                                    <div class="col-12">8:00-17:00</div>
                                    <div class="col-12">Sobota</div>
                                    <div class="col-12">9:00-14:00</div>
                                
                                </div>

                            </div>


                            <div class="col-sm-2 col-6 text-center">

                                <div class="row text-center">
                                    <div class="col-12">
                                        <i style="color:#01e0d5;" class="fa-solid fa-2x fa-phone fa-shake my-3" style="--fa-animation-delay:2s;"></i>
                                    </div>
                                    <div class="col-12">
                                        <a href="tel:+48533962159"> +48533962159 </a>
                                    </div>
                                </div>
                               

                            </div>

                            <div class="col-sm-1 col-12 text-center"></div>
                            
               
                        </div>
                    </div>

                    <div class="col-12">
                        <div>
                            
                            <iframe class="pt-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d307.51675041143983!2d23.15352949901518!3d53.19814994986531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ffd763de145c5%3A0x2947fb310338f4a0!2sWiejska%2012%2C%2016-010!5e0!3m2!1sen!2spl!4v1653843280561!5m2!1sen!2spl" style="height:40vh;width:100%;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            
                        </div>
                    </div>
               
                </div>

            </div>




        </div>




         <!-- Galeria -->
         <div class="w-100 text-center" id="galeria">
            
            <h1> Nasze ostatnie realizacje </h1>



            <hr class="divider">




            <div class="row me-0">
            {% for key in slownik %}
          

                <!-- jeżeli pierwszy to pokaż przycisk -->
                {% if loop.index <= 3 %}
                <div id="{{loop.index}}" style="visibility:visible;display:block;">
                      <!--<h4>{{slownik[key][1]}}</h4> --> 
                        <div class="col-12">
                            <div class="row justify-content-md-center px-5">              
                                {% for id in slownik[key][0]%} 
                                {% if slownik[key][0]|length <= 3 %}
                                    <div class="col-sm-4 col-6 p-0">
                                    {% elif slownik[key][0]|length == 4 %}
                                    <div class="col-sm-3 col-12 p-0">
                                    {% else %}
                                    <div class="col-sm-2 col-12 p-0">
                                    {% endif %}
                                        <div class="item animated wow fadeIn m-0">
                                            {% set sciezka ="posty/post" ~ key|string ~ "/zdjecie" ~ id|string ~ ".jpg" %}
                                            <a class="p-0" href=" {{url_for('static', filename=sciezka)}} " data-lightbox="photos{{key}}"><img class="lazy img-fluid" loading="lazy" data-src=" {{url_for('static', filename=sciezka)}}" src="{{url_for('static', filename='loading.gif')}} ">
                                                <div class="overlay fade-overlay">
                                                    <div class="text">{{slownik[key][1]}}</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>    
                                {% endfor %}
                            </div>
                        </div>
                        <hr class="divider" />
                        {% if loop.index == 3 %}
                        <!-- zrób id diva jako loop index i zmieniaj visibility tym buttonem to-->
                        <button id="{{loop.index}}.button"class="btn mb-2 btn-block btn-primary" onclick="pokaz({{loop.index+1}});schowaj('{{loop.index}}.button')"> <i class="fa-solid fa-2x fa-bounce fa-arrow-down "></i></button>
                        {% endif %}
                </div>

                {% else %}
                <div id="{{loop.index}}" style="visibility:hidden;display:none;">
                   <!--<h4>{{slownik[key][1]}}</h4> --> 
                        <div class="col-12" >
                            <div class="row justify-content-md-center px-5">              
                                {% for id in slownik[key][0]%} 
                                {% if slownik[key][0]|length <= 3 %}
                                    <div class="col-sm-4 col-6 p-0">
                                    {% elif slownik[key][0]|length == 4 %}
                                    <div class="col-sm-3 col-12 p-0">
                                    {% else %}
                                    <div class="col-sm-2 col-12 p-0">
                                    {% endif %}
                                        <div class="item animated wow fadeIn m-0">
                                            {% set sciezka ="posty/post" ~ key|string ~ "/zdjecie" ~ id|string ~ ".jpg" %}
                                            <a class="p-0" href=" {{url_for('static', filename=sciezka)}} " data-lightbox="photos{{key}}"><img class="lazy img-fluid" data-src="{{url_for('static', filename=sciezka)}}" src="{{url_for('static', filename='loading.gif')}}">
                                                <div class="overlay fade-overlay">
                                                    <div class="text">{{slownik[key][1]}}</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>    
                                {% endfor %}
                            </div>
                        </div>
                        <hr class="divider" />
                        {% if loop.last %}
                        <h1>To już koniec zdjęć! Cieszymy się, że dotarłeś aż tutaj.</h1>
                        {% else %}
                        

                        <button id="{{loop.index}}.button" class="btn mb-2 btn-block btn-primary" onclick="pokaz({{loop.index+1}});schowaj('{{loop.index}}.button')"> <i class="fa-solid fa-2x fa-bounce fa-arrow-down "></i> </button>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            </div>
        </div>
        
     
        <footer class="py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - AfroLoki</div></div>
        </footer>

    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    

    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
        <script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/lazy_load.js')}}"></script>
       

        <script>
            function pokaz(id){
                document.getElementById(id).style.visibility="visible";
                document.getElementById(id).style.display="block";
            }
            function schowaj(id){
                document.getElementById(id).style.visibility="hidden";
                document.getElementById(id).style.display="none";
            }
        </script>
    </body>
</html>
